.hide {
  display: none !important;
}

main {
  padding: 2rem;
}

h1 {
  margin-bottom: 1rem;
}

#div-game-board {
  display: grid;
  grid-template-columns: repeat(3, 20px);
  grid-template-rows: repeat(3, 20px);
  margin-bottom: 1rem;
}

.game-tile {
  display: block;
  width: 20px;
  height: 20px;
  border: 1px solid black;
}